@import 'prismjs/themes/prism.css';

html, body {
    font-family: open-sans;
    margin: 0; padding: 0;
}
.heading {
    font-size: 1.6rem;
    font-weight: bold;
}
.viewer {
    width: 100%;
    height: auto;
    overflow: auto;
    position: relative;
    &--source {
        min-height: 100px;
    }
    &--preview {
        max-height: 400px;
    }
}
.btn-copy {
    position: absolute;
    top: 2px; right: 2px;
    opacity: 0.5;
    transition: all .2s;
}
.btn-copy:hover {
    opacity: 1;
}
.btn-copy:active {
    background: greenyellow;
}

.form-control {
    width: 100%;
}

.container-fluid {
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;    
}

.viewer-grid {    
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;    
    &__source {
        width: 100%;
        min-width: 200px;
        max-width: 400px;
    }
    &__preview {
        width: 100%;
        max-width: 1600px;                
    }    
}

// Mobile first Media queries
@media (min-width: 576px) {
    .viewer {
        width: 100%;
        height: 80vh;        
        overflow: auto;
        position: relative;
        &--preview {
            max-height: 100%;            
        }
    }
    .viewer-grid {    
        display: grid;
        grid-template-columns: 240px 1fr;
        gap: 1rem;    
        &__source {
            width: 100%;
            min-width: 200px;
            max-width: 400px;
        }
        &__preview {
            width: 100%;
            max-width: 1600px;
        }
        pre {
            height: 75dvh;
        }
    }    
}
